{% extends "!layout.html" %}
{% block extrahead %}
{{ super() }}
<!-- favicons -->

<link rel="shortcut icon" href="_static/favicon.ico" type="image/x-icon" type="image/png" />

<!-- Opera Speed Dial Icon -->
<link rel="icon" href="_static/apple-touch-icon-152x152.png" type="image/png" />

<!-- Safari on iOS -->
<link rel="apple-touch-icon" href="_static/apple-touch-icon.png"  type="image/png" />
<link rel="apple-touch-icon" sizes="57x57" href="_static/apple-touch-icon-57x57.png" type="image/png" />
<link rel="apple-touch-icon" sizes="72x72" href="_static/apple-touch-icon-72x72.png" type="image/png" />
<link rel="apple-touch-icon" sizes="76x76" href="_static/apple-touch-icon-76x76.png" type="image/png" />
<link rel="apple-touch-icon" sizes="114x114" href="_static/apple-touch-icon-114x114.png" type="image/png" />
<link rel="apple-touch-icon" sizes="120x120" href="_static/apple-touch-icon-120x120.png" type="image/png" />
<link rel="apple-touch-icon" sizes="144x144" href="_static/apple-touch-icon-144x144.png" type="image/png" />
<link rel="apple-touch-icon" sizes="152x152" href="_static/apple-touch-icon-152x152.png" type="image/png" />
<link rel="apple-touch-icon" sizes="180x180" href="_static/apple-touch-icon-180x180.png" type="image/png" />

<!-- For tiles on Windows -->
<meta name="msapplication-TileImage" content="_static/apple-touch-icon-114x114.png"/>
<meta name="msapplication-TileColor" content="#d83434"/>
{% endblock %}
