.rst-content dl dt {
    font-weight: normal;
}

.wy-nav-content {
    max-width: 980px !important;
}

.hlist {
    width: 100%
}

/* style for example gallery */
.gmtgallery li {
    list-style: none;
    width: 180px;
    display: inline-grid;
    margin-right: 10px;
    margin-bottom: 10px;
}

