.rst-content dl dt {
    font-weight: normal;
}

.wy-nav-content {
    max-width: 980px !important;
}

.hlist {
    width: 100%
}

.sd-card-body {
    padding: 0.2rem 0.2rem;
}

.sd-card-footer {
    padding: 0.2rem 0.2rem;
}

.sd-card-text {
	font-size: small;
}

/* Compatibility with sphinx_rtd_theme v3.x.x */
/* https://github.com/TexasInstruments/processor-sdk-doc/commit/4fa6276ddcf7f9db919af2e5b3aec7e70a1afa16 */
.wy-side-nav-search>div.version {
    margin-top: -.4045em;
    margin-bottom: .809em;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .3);
}
