.rst-content dl dt {
    font-weight: normal;
}

.wy-nav-content {
    max-width: 980px !important;
}

.hlist {
    width: 100%
}

.sd-card-body {
    padding: 0.2rem 0.2rem;
}

.sd-card-footer {
    padding: 0.2rem 0.2rem;
}

.sd-card-text {
	font-size: small;
}

/* Compatibility with sphinx_rtd_theme v3.x.x */
/* https://github.com/TexasInstruments/processor-sdk-doc/commit/4fa6276ddcf7f9db919af2e5b3aec7e70a1afa16 */
.wy-side-nav-search>div.version {
    margin-top: -.4045em;
    margin-bottom: .809em;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .3);
}


/* 调整所有 figure 的外边距 */
figure {
    margin: 30px 0 !important;
}

/* 调整图片与标题的间距 */
figure img {
    margin-bottom: 15px;
}

/* 调整标题样式 */
figcaption {
    padding-top: 10px;
    font-style: italic;
}

/* 针对 :option: 的样式 */
code.xref.std-option {
    background-color: transparent; /* 去掉背景 */
    border: none;            /* 去掉边框 */
    font-size: 100%; /* 强制字体大小与周围文本一致 */

    padding-left: 0; /* 去除左右多余的内边距 */
    padding-right: 0;
    margin-right: 0; /* 保险起见，把外边距也去掉 */
}

/* 让 .. option:: 变成一个看不见的像素点 */
.ghost-wrapper {
    visibility: hidden;   /* 隐身 */
    height: 0;            /* 高度压扁 */
    margin: 0;            /* 去除外边距 */
    padding: 0;           /* 去除内边距 */
    overflow: hidden;     /* 隐藏溢出的内容 */
    position: relative;   /* 保持相对定位，作为锚点坐标 */

    /* 有些主题给 container 加了默认样式，这里强制覆盖 */
    border: none !important;
    background: none !important;
}
