.rst-content dl dt {
    font-weight: normal;
}

.wy-nav-content {
    max-width: 980px !important;
}

.hlist {
    width: 100%
}

.sd-card-body {
    padding: 0.2rem 0.2rem;
}

.sd-card-footer {
    padding: 0.2rem 0.2rem;
}

.sd-card-text {
	font-size: small;
}

/* Compatibility with sphinx_rtd_theme v3.x.x */
/* https://github.com/TexasInstruments/processor-sdk-doc/commit/4fa6276ddcf7f9db919af2e5b3aec7e70a1afa16 */
.wy-side-nav-search>div.version {
    margin-top: -.4045em;
    margin-bottom: .809em;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .3);
}


/* 调整所有 figure 的外边距 */
figure {
    margin: 30px 0 !important;
}

/* 调整图片与标题的间距 */
figure img {
    margin-bottom: 15px;
}

/* 调整标题样式 */
figcaption {
    padding-top: 10px;
    font-style: italic;
}

/* 针对 :option: 的样式， !important 强制覆盖主题的设置 */
code.xref.std-option {
    background-color: transparent !important; /* 去掉背景 */
    border: none !important;            /* 去掉边框 */

    font-family: inherit !important;    /* 取消等宽字体，继承正文字体 */
    font-size: 100% !important;         /* 强制字号与正文 1:1 */
    color: #007bff !important;          /* 现代标准链接蓝 */

    padding-left: 0 !important; /* 去除左右多余的内边距 */
    padding-right: 0 !important;
    margin-right: 0 !important; /* 保险起见，把外边距也去掉 */
}
/* 鼠标悬停时的效果，增加交互感 */
code.xref.std-option:hover {
    color: #0056b3 !important;          /* 悬停时颜色加深 */
    text-decoration: underline;
}
/* 网页版中不显示 conf.py 中自定义的类 hidden-opt 
   让 .. option:: 变成一个看不见的像素点 */
.hidden-opt {
    visibility: hidden;   
    height: 0;           
    margin: 0;           
    padding: 0;           
    overflow: hidden;     
    position: relative;   

    border: none !important;
    background: none !important;
}