.rst-content dl dt {
    font-weight: normal;
}

.wy-nav-content {
    max-width: 980px !important;
}

.hlist {
    width: 100%
}

.sd-card-body {
    padding: 0.2rem 0.2rem;
}

.sd-card-footer {
    padding: 0.2rem 0.2rem;
}

.sd-card-text {
	font-size: small;
}
