# This workflow downloads data used in the documentation and uploads as an artifact
name: Cache data

on:
  # Uncomment the 'pull_request' line below to manually re-cache data artifacts
  # pull_request:
  # Schedule runs on 12 noon every Sunday
  schedule:
    - cron: '0 12 * * 0'

jobs:
  gmt_cache:
    name: Cache GMT artifacts
    runs-on: macOS-latest  # must be macos
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          channels: conda-forge
          miniconda-version: "latest"

      - name: Install GMT
        run: conda install -c conda-forge gmt=6.4.0

      - name: Download remote data
        run: |
          gmt which -Ga @earth_relief_30m_g \
                        @earth_relief_30m_p \
                        @earth_relief_20m \
                        @earth_relief_10m \
                        @earth_relief_06m \
                        @earth_relief_05m \
                        @earth_age_06m \
                        @earth_day_20m \
                        @earth_day_06m \
                        @earth_night_20m \
                        @earth_mask_05m
          gmt grdcut @earth_relief_01m -R118/125/20/26 -G/dev/null
          # cache
          gmt which -Ga @age_chrons_GTS2012_2020.cpt \
                        @ternary.txt \
                        @mississippi.txt \
                        @NY_traffic.txt \
                        @sunglasses.eps
          # Download the china-geospatial-data datasets
          git clone --depth 1 https://github.com/gmt-china/china-geospatial-data china-geospatial-data
          rm -rf china-geospatial-data/.git
          mv china-geospatial-data/* ~/.gmt/cache/
          # Download custom symbols
          git clone --depth 1 https://github.com/gmt-china/GMT_custom_symbols GMT_custom_symbols
          rm -rf GMT_custom_symbols/.git
          mv GMT_custom_symbols ~/.gmt/custom/

      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v3
        with:
          name: gmt-cache
          path: |
              ~/.gmt/cache
              ~/.gmt/server
              ~/.gmt/custom
