# This workflow downloads data used in the documentation and uploads as an artifact
name: Cache data

on:
  # Uncomment the 'pull_request' line below to manually re-cache data artifacts
  # pull_request:
  # Schedule runs on 12 noon every Sunday
  schedule:
    - cron: '0 12 * * 0'

jobs:
  gmt_cache:
    name: Cache GMT artifacts
    runs-on: macOS-latest  # must be macOS
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@v1.4.3
        with:
          environment-name: gmtdocs
          condarc: |
            channels:
              - conda-forge
              - nodefaults
          create-args: >-
            gmt=6.4.0

      - name: Download data and change configurations
        run: bash scripts/setup-ci.sh

      # We don't want to cache GMT's sessions directory
      - name: Clear GMT's sessions
        # Can't use 'gmt clear sessions' because it returns non-zero exit code
        # when sessions directory don't exist.
        run: rm -rf ~/.gmt/sessions

      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v3
        with:
          name: gmt-cache
          path: ~/.gmt
