# Build and preview documentation in PRs.
# DOES NOT WORK FOR FORKS.
name: Preview PR

on:
  pull_request:

jobs:
  preview-pr:
    runs-on: ubuntu-latest
    env:
      GMT_VERSION: 6.2.0
      GMT_DOC_VERSION: 6.2
    defaults:
      run:
        shell: bash -l {0}
    steps:
      # Cancel previous runs that are not completed
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0

      - name: Checkout
        uses: actions/checkout@v2.3.4

      # Setup Miniconda
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          python-version: 3.8
          channels: conda-forge
          miniconda-version: "latest"

      - name: Install packages
        run: |
          conda install -c conda-forge gmt=${GMT_VERSION}
          pip install -r requirements.txt

      # Download cached remote files (artifacts) from GitHub
      - name: Download remote data from GitHub
        uses: dawidd6/action-download-artifact@v2.14.0
        with:
          workflow: cache-data.yml
          workflow_conclusion: success
          name: gmt-cache
          path: .gmt

      # Move downloaded files to ~/.gmt directory and list them
      - name: Move and list downloaded remote files
        run: |
          mkdir -p ~/.gmt
          mv .gmt/* ~/.gmt
          # Change modification times of the two files, so GMT won't refresh it
          touch ~/.gmt/server/gmt_data_server.txt ~/.gmt/server/gmt_hash_server.txt
          ls -lhR ~/.gmt

      - name: Build HTML
        run: |
          make dirhtml

      - name: Optimize images
        run: |
          sudo snap install pngquant
          pngquant --skip-if-larger --strip --force --ext .png build/dirhtml/_images/*.png

      - name: Deploy for preview
        uses: peaceiris/actions-gh-pages@068dc23d9710f1ba62e86896f84735d869951305
        with:
          # personal token can be generated at https://github.com/settings/tokens,
          # and added to https://github.com/organizations/gmt-china/settings/secrets/actions
          personal_token: ${{ secrets.TOKEN_DOCUMENT_DEPLOY }}
          publish_dir: ./build/dirhtml
          destination_dir: ${{ github.repository }}/${{ github.head_ref }}
          external_repository: gmt-china/sitepreview
          keep_files: false
          allow_empty_commit: true
          force_orphan: false
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
        if: github.event.pull_request.head.repo.full_name == github.repository

      - name: Find Comment
        uses: peter-evans/find-comment@v1
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: This comment was written by the Continuous Documentation bot!
        if: github.event.pull_request.head.repo.full_name == github.repository

      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            This comment was written by the Continuous Documentation bot!

            - **Preview**: https://gmt-china.github.io/sitepreview/${{ github.repository }}/${{ github.head_ref }}/index.html
            - **Commit hash**: ${{ github.event.pull_request.head.sha }}
        if: github.event.pull_request.head.repo.full_name == github.repository && steps.fc.outputs.comment-id == 0

      - name: Update comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          edit-mode: replace
          body: |
            This comment was written by the Continuous Documentation bot!

            - **Preview**: https://gmt-china.github.io/sitepreview/${{ github.repository }}/${{ github.head_ref }}/index.html
            - **Commit hash**: ${{ github.event.pull_request.head.sha }}
        if: github.event.pull_request.head.repo.full_name == github.repository && steps.fc.outputs.comment-id != 0
